<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.ponta027.gsn.editor.design.Activator"
               id="com.ponta027.gsn.editor.design"
	       name="editor">
    </component>
  </extension>
</plugin>
